* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('../img/pic1.jpg');
    background-size: cover;
}

.loginbox {
    width: 320px;
    height: auto;
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 8%;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

::-webkit-input-placeholder {
    color: rgb(232, 214, 189);
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #801616;
    background: transparent;
    outline: none;
    height: 40px;
    color: #801616;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    margin-top: 15px;
    border: none;
    outline: none;
    height: 40px;
    background: #801616;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #ffc107;
    font-size: 20px;
}

.loginbox a:hover {
    color: #ffc107;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #801616;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fb2525;
    display: flex;
}

.sidenav a:hover {
    color: #ffc107;
}

.main {
    margin-left: 15%;
    font-size: 28px;
    padding: 0px 0 10px 3px;
}

#title {
    margin: 0;
    padding: 0 0 0 35%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav h2 {
    display: flex;
    padding: 6px 8px 6px 16px;
    font-size: 30px;
}

.box {
    display: table-row;
}